<div class="jumbotron">
    <div class="container">
        <h1>Hallo {{ user.firstname }},</h1>
        <p>Willkommen in dem Berichtsheft Tool der EOS UPTRADE GmbH. Du hast die Möglichkeit dir einen Entwurf deines Berichtsheftes aus deinen erfassten Zeiten aus der Zeiterfassung zu erstellen. Bitte vergesse nicht den Entwurf zu <strong>überprüfen</strong> und gegebenfalls zu <strong>korrigieren</strong>.</p>
        <p><a role="button" class="btn btn-primary btn-lg">Benutzerhandbuch »</a></p>
    </div>
</div>