{% extends 'BerichtsheftBaseBundle::base.html.twig' %}
{% block title %}Ausbildungsnachweis Nr. {{ berichtsheft.number }} {{ parent() }}{% endblock %}
{% block content %}

    <div class="row top-margin-row">
        <div class="col-lg-12">
            <div class="actions">
                <a href="{{ path('berichtsheft_base_pdf') }}" class="btn btn-success">Als pdf exportieren</a>
            </div>
            {{ include('BerichtsheftBaseBundle:Berichtsheft:berichtsheft.html.twig', { 'berichtsheft': berichtsheft }) }}
        </div>
    </div>

{% endblock %}