{% extends 'BerichtsheftBaseBundle::base.html.twig' %}
{% block title %}Timetable {{ parent() }}{% endblock %}
{% block content %}

    <div class="row top-margin-row">
        <div class="col-lg-12">
            blah
        </div>
    </div>

{% endblock %}