{% extends 'BerichtsheftBaseBundle::base.html.twig' %}

{% block title %}Benutzerhandbuch {{ parent() }}{% endblock %}

{% block content %}

    <div class="row top-margin-row documentation">
        <div class="col-lg-12">
            <ul class="media-list">
                <li class="media">
                    <div class="media-body">
                        <h1 class="media-heading">Anmeldung</h1>
                        <p>Bevor Du dich in dem BerichtsheftTool anmelden kannst, muss dein Benutzer von einem Administrator hinzugefügt werden.<br /> Anschließend kannst du dich mit deinem Benutzernamen und Passwort in dem BerichtsheftTool anmelden.</p>
                    </div>
                    <a href="#">
                        <img class="media-object img-thumbnail" src="{{ asset('asset/anmelde_bildschirm.png') }}" alt="Anmelde Bildschirm" />
                    </a>
                </li>
                <li class="media">
                    <div class="media-body">
                        <h1 class="media-heading">Dashboard</h1>
                        <p>Nach der erfolgreichen Anmeldung kommst du auf dein persönliches Dashboard. <br />
                            Fülle das Formular auf der linken Seite aus um einen Nachweis für eine Kalenderwoche generieren zu lassen. <br />
                        Auf der rechten Seite findest du sämtliche Informationen, welche für den Kopfteil deines Nachweises benötigt werden. Diese Informationen wurden von einem Administrator bei der Erstellung deines Benutzers hinterlegt.</p>
                    </div>
                    <a href="#">
                        <img class="media-object img-thumbnail" src="{{ asset('asset/dashboard.png') }}" alt="Anmelde Bildschirm" />
                    </a>
                </li>
                <li class="media last">
                    <div class="media-body">
                        <h1 class="media-heading">Nachweis Vorschau</h1>
                        <p>Nach dem Absenden des Formulares bekommst du eine Vorschau angezeigt, wie der generierte Nachweis aussehen wird. <br />
                        Über den Button <strong>"exportieren"</strong> kannst du den Nachweis als <strong>PDF</strong> oder <strong>Bild</strong> exportieren.</p>
                    </div>
                    <a href="#">
                        <img class="media-object img-thumbnail" src="{{ asset('asset/berichtsheft_example.png') }}" alt="Anmelde Bildschirm" />
                    </a>
                </li>
            </ul>
        </div>
    </div>
{% endblock %}